#Importação e Consolidação dos Dados

In [2]:
from glob import glob
import warnings
import pandas as pd
warnings.simplefilter(action='ignore', category=FutureWarning)

In [1]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
path = '/content/drive/My Drive/DataSetsUsados/'

In [11]:
arquivos = glob(path + '*.xlsx')
print(arquivos)
colunas = ['Organisation','Unit','Payscale Minimum (£)','Payscale Maximum (£)','Professional/Occupational Group']
df_final = pd.DataFrame()
for arquivo in arquivos:
  CargoData = arquivo.split('/')[-1].split('.')[0]
  Data = CargoData.split('-')[-1].replace('_', "/")
  Cargo = CargoData.split('-')[0]
  df = pd.read_excel(arquivo)
  df.drop(df.columns.difference(colunas), 1, inplace=True)
  df['Job'] = Cargo
  df['Date'] = Data
  df_final = df_final.append(df)
    
df_final.to_excel(path + '/output/consolidado.xlsx',index=False)

['/content/drive/My Drive/DataSetsUsados/Junior-12_21.xlsx', '/content/drive/My Drive/DataSetsUsados/Senior-09_17.xlsx', '/content/drive/My Drive/DataSetsUsados/Senior-12_21.xlsx', '/content/drive/My Drive/DataSetsUsados/Senior-09_16.xlsx', '/content/drive/My Drive/DataSetsUsados/Junior-09_17.xlsx', '/content/drive/My Drive/DataSetsUsados/Junior-09_16.xlsx']

#Uso do df consolidado

In [21]:
df_final = pd.read_excel(path + '/output/consolidado.xlsx')

#Limpeza de dados

In [22]:
df_final = df_final[df_final['Payscale Maximum (£)'] >= 0]
df_final = df_final[df_final['Payscale Minimum (£)'] >= 0]

#Tirando média e desvio padrão

In [26]:
df_final[['Payscale Minimum (£)','Job','Date']].groupby(by = ['Job','Date']).mean()

              Payscale Minimum (£)
Job    Date
Junior 09/16          36566.556467
       12/21          37129.686826

In [25]:
df_final[['Payscale Minimum (£)','Job','Date']].groupby(by = ['Job','Date']).std()

              Payscale Minimum (£)
Job    Date
Junior 09/16          12824.247451
       12/21          14087.256129